.header__logo {
    margin: 23px 208px 23px 0;
}
.header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 180px;
}
.header-link {
    text-decoration: none;
    color: #000;

    transition: color .2s linear;
}
.header-link:hover {
    color: var(--blue-color);
}

.header__account-flex {
    display: flex;
    justify-content: space-between;
}


.header__profile-links {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.header-profile-link {
    text-decoration: none;
    color: #000;
    margin-right: 45px;

    transition: color .2s linear;
}
.header-profile-link:hover {
    color: var(--blue-color);
}
.header__btn-user {
    display: flex;
    align-items: center;
}
.header__btn-user:last-child {
    margin: 0;
}
.header__alert{
    width: 32px;
    height: 32px;
    margin-right: 40px;
}
.header__account {
    width: 32px;
    height: 32px;
}

.main__conetnt-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 272px;
}

.main__img {
    width: 579px;
    height: 550px;
}

.main__content-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    vertical-align: middle;
    justify-content: center;
}

.main__content-title {
    color: var(--blue-color);
    margin-bottom: 30px;
}

.main__conetnt-text {
    margin-bottom: 120px;
    color: var(--grey-color);
}

.main__btn {
    width: 248px;
    height: 50px;
    border: none;
    padding: 16px 32px;
    background: var(--blue-color);
    box-shadow: 5px 6px 0px var(--dark-color);
    color: var(--white-color);
    border-radius: 12px;

    transition: background-color .2s linear;
}
.main__btn:hover {
    background-color: var(--dark-color);
}
.information__flex {
    display: flex;
    margin-bottom: 149px;
}
.information-num {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 96px;
    line-height: 117px;
    writing-mode: vertical-rl;
    transform: scale(-1);
    margin-right: 60px;
    padding-top: 98px;
}
.information__img {
    width: 258px;
    height: 525px;
    margin-right: 180px;
}
.information__title {
    margin-bottom: 171px;
}
.information__subtitle {
    margin-bottom: 30px;
}

.footer {
    background-color: var(--dark-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__flex {
    display: flex;
    justify-content: space-between;
}
.footer__info {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer__logo {
    widows: 131px;
    height: 32px;
    margin-bottom: 90px;
}
.footer-progect {
    margin-bottom: 30px;
}
.footer__links {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer-link {
    margin-bottom: 17px;
}
.footer-link:last-child {
    margin: 0;
}
.footer__adress {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer__adress-link {
    margin-bottom: 30px;
}
.footer__adress-link:last-child {
    margin: 0;
}
.footer__media-link {
    margin-right: 30px;
}
.footer__media-link:last-child {
    margin: 0;
}
.footer-map {
    width: 286px;
    height: 192px;
    border-radius: 10px;
}


